body{
    margin: 0px;
}


nav{
    background-color:#3bc06c;
    display: flex;
    height: 10px;
}

header{
   background-image: url(imagens/banner.png);
    height: 400px;
    background-size: auto;
    display: flex;
    align-items: center;


}

.png img{
    display: flex;
    width: 307px;
    padding: 325px;



}


.titulo{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    justify-content: center;
}


.subtitulo{
    color : white;
    font-size: 10px;
}


#cabecalho{
    background-color: white;

}

section #cabecalho2{
    background-color: grey;
}