nav {
    background-color:cadetblue;
}

header {
    background-color: cadetblue;
}
h1 {
    color: black;
    text-transform: uppercase;

    
}

ul {
    list-style: none;
    text-transform: uppercase;
}