nav {
    background-color: white;
    height: 60px;
}

header {
    background-color: cadetblue;
    width: 100%;

}
h1 {
    color: black;
    text-transform: uppercase;

    
}

ul {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    float: right;
    clear: both;

    
}

li {
    padding: 8px 16px ;
    display: block;
}
li:hover{
    background-color: cadetblue;
    color: white;
}